.bar {
  width: 710px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  margin-bottom: 25px;
}

.section {
  width: 710px;
  margin: 25px 0;
}
