article {
  background: #efefef;
  margin-bottom: 30px;
  width: 710px;
  box-sizing: border-box;
  border-radius: 25px;

  .title {
    font-weight: bold;
    font-size: 22px;
    padding: 0 18px;
  }
  .image {
    border-radius: 20px;
    overflow: hidden;
    margin: 18px 10px;
    max-height: 370px;
    display: flex;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 0 35px;
    padding-bottom: 18px;
  }
}
